{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Task 1</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h3>Task 1a</h3>
			</div>
			<div class="col-6">
        <!-- I added reset ID -->
				<button class="btn btn-light float-right" id="reset">
					Reset
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="shape-container">
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-yellow p2-border"></div>
					<div class="p2-circle bg-yellow p2-border"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-orange p2-border"></div>
					<div class="p2-circle bg-orange p2-border"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle bg-blue p2-border"></div>
					<div class="p2-circle bg-blue p2-border"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle" id="gradient-circle"></div>
				</div>
			</div>
		</div>
			
	</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  //task1//
  $(document).ready(function() {
    $('.bg-purple').on('click', () => {
      $('.bg-purple').hide();
    });
  //end of task1//
  //task2//
    $('.bg-green').on('click', () => {
      $('.bg-green, .bg-blue').hide();
    });
  //end of task2//
  //task3 could I use this//
    $('.bg-orange.p2-border').on('click', () => {
      $('.bg-orange.p2-border').hide();
    });
  //end of task3//
  //task 4//
    $('#gradient-circle').hover(function() {
       $('#gradient-circle').hide();
    });
  //end of task4//
  //reset button//
    $('#reset').on('click', () => {
      $(".p2-circle").show();
    });
    
  });

</script>
</body>
</html>